@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
  color: white;
}

.bg {
  background-image: url("../assets/bg-image.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
